# APP
APP_ENV=dev
APP_URL=http://localhost

# JWT AUTH
JWT_SECRET_KEY=uAsBw6WxqD
JWT_EXPIRATION_TIME=3600

# DATABASE
DB_TYPE=postgres
DB_USERNAME=nest
DB_PASSWORD=nest
DB_HOST=db
DB_PORT=5432
DB_DATABASE=nest
DB_SYNC=false

# This text is inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://nest:nest@db:5432/nest?schema=public"