# vim: ft=nginx

server {
	listen 80;
	server_name ${NGINX_SERVER_NAME};
	root /app/public;
	client_max_body_size ${NGINX_MAX_BODY};

	location / {
		# try_files $uri =404;
		proxy_pass  http://${NEST_HOST}:${NEST_PORT};
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Host $server_name;
		proxy_set_header X-Forwarded-Proto https;
	}
}

